$mobile-padding: 1rem;
$tablet-padding: 2.25rem;
$desktop-padding: 8rem;
$mobile-label: 700 0.7rem/1.25rem "avenir";
$tablet-label: 700 0.8rem/1.25rem "avenir";
$mobile-subheading: 600 0.81rem/1.12rem "avenir";
$tablet-subheading: 600 0.88rem/1.37rem "avenir";
