@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/typography.scss" as *;
@use "../../styles/partials/mixins.scss" as *;

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $mobile-padding;

  @include tablet {
    flex-direction: row;
    align-items: flex-start;
    padding: 1rem $tablet-padding;
  }
  @include desktop {
    padding: 1rem $desktop-padding;
  }

  &__logo {
    height: 1.5rem;
    width: 7.5rem;
  }

  &__search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
    margin: 1rem 0;

    @include tablet {
      margin: 0 0 0 10rem;
      width: auto;
    }
    @include desktop {
      margin-left: 20rem;
    }
  }

  &__search-input {
    height: 2rem;
    padding-left: 2rem;
    width: 85%;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    font: $mobile-label;
    background-color: #fafafa;

    @include tablet {
      height: 2.5rem;
      width: 13rem;
      font: $tablet-label;
      padding-left: 2.5rem;
    }
  }

  &__search-icon {
    position: absolute;
    height: 1.5;
    padding: 0.4rem;
    left: 0;
    bottom: 0;

    @include tablet {
      padding: 0.6rem;
    }
  }
}
